// Sets background colour and height to 100%
html {
    background-color: rgb(53, 52, 57);
    height: 100%;
}

// Remove the margin
body {
  height: 100%;
  margin: 0;
}

// Sets up a basic textformatting, colour, size, font family and left align
.text {
    color: rgb(197, 197, 197);
    font-size: 9vmin;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 100%;
}

// Change pointer type on hover over the slider
.slider:hover {
    cursor: pointer;
  }

// Aligns slider to the center and makes it 100% of the width of the parent element
.slider {
  align-self: center;
  width: 100%;
}

  // Any input with type range it removes the background
  input[type="range"] {
    background: none;
  }
  
  // Makes the slider track look better on firefox
  input[type=range]::-moz-range-track {
    background: rgb(41, 41, 41);
    outline: none;
    overflow: hidden;
    border: solid rgb(41, 41, 41);
    border-width: 6px;
    border-radius: 30px;
    appearance: none;
    cursor: pointer;
  }

  // Makes the slider thumb look better on firefox
  input[type=range]::-moz-range-thumb {
    background: rgb(177, 177, 177);
    border: none;
  }

  // Makes the slider progress look better on firefox
  input[type=range]::-moz-range-progress {
    border: 0;
    height: 2px;
    outline: none;
  }

  // Sets up centering for the outer most div
  .outer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // 90% of the viewport minimun and centers
  .inner {
    width: 90vmin;
    align-content: center;
  }
