html {
    background-color: rgb(53, 52, 57);
    height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.text {
    color: rgb(197, 197, 197);
    font-size: 9vmin;
    font-family: Arial;
    text-align: left;
    width: 100%;
}

.slider:hover {
    cursor: pointer;
  }

.slider {
  align-self: center;
  width: 100%;

}

  input[type="range"] {
    background: none;
  }
  
  input[type=range]::-moz-range-track {
    background: rgb(41, 41, 41);
    outline: none;
    overflow: hidden;
    border: solid rgb(41, 41, 41);
    border-width: 6px;
    border-radius: 30px;
    appearance: none;
    cursor: pointer;
  }

  input[type=range]::-moz-range-thumb {
    background: rgb(177, 177, 177);
    border: none;
  }

  input[type=range]::-moz-range-progress {
    border: 0;
    height: 2px;
    outline: none;
  }

  .outer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .inner {
    width: 90vmin;
    align-content: center;
  }

  .container {
    height: 90vmin;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }