// Set background colour over the entire screen
html, body {
    margin: 0;
    height: 100%;
    background-color: #1a2238;
}

// Changes styling for the base converters inner sections like inputs and labels
.inner-input {
    width: 40vmin;
    height: 10vmin;
    font-size: 4vmin;
    font-weight: bold;
    padding: 0vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
    margin: 0.25vmin;
    border: none;
    background-color: #1a2238;
    color: #9db4f2;
    font-family: sans-serif;
}

// Styling for all buttons
.button {
    a {
        text-decoration: none;
    }
    border: none;
    margin: none;
    padding: none;
    color: #9db4f2;
    background-color: #1a2238;

    &:hover {
        cursor: pointer;
    }
}

// Styling for buttons and innerinputs, must have both classes
.button.inner-input {
    width: 79.5vmin;
}

// Styling for buttons that dont have the innerinput class, on the instructions screen
.button:not(.inner-input) {
    height: 5vmin;
    width: 100%;
    font-size: 1.75vmin;
    border: #37448c solid 0.5vmin;
}

// Styling for text, colour, size, etc
.text {
    color: #9db4f2;
    font-size: 1.75vmin;
    font-family: sans-serif;
}

// Styling for the headers
.header {
    color: #9db4f2;
    font-size: 4vmin;
    font-family: sans-serif;
}

// Styling for the container, centering etc
.container {
    height: inherit;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Setting the background colour of the base converter to show distinction from the background
.background {
    background-color: #37448c;
    padding: 0.25vmin;
}
